.landing {
	display: flex;
	justify-content: space-around;
}

.distortion {
	width: 400px;
	height: 575px;
	align-self: flex-end;
}

.intro {
	align-self: center;
}

.intro h2 {
	font-size: 50px;
}

.intro p {
	font-size: 25px;
}